body{
    background: black;
}

.c {
    color: white;
    place-items: center;
    display: grid;
    font-family: 'Courier New', Courier, monospace;
}
a{
    text-decoration: none;
    color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.center {
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: 100vh;
} 
#video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    filter: blur(7px);
}
